.container {
  max-width: 700px;
  margin: 50px auto;
  background: rgb(248, 195, 241, 0.5);
  padding: 35px;
  border-radius: 7px;
}

select {
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}

body {
  background-image: url("media/globe.jpeg");
  background-size: 150%;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px double;
}

.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.1px;
}

.time {
  margin-top: 25px;
  font-weight: bold;
  font-size: 40px;
}
.time small {
  font-size: 15px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 12px;
}
