.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: rgb(201, 206, 212);
  padding: 35px;
  box-shadow: 15px black;
  border-radius: 7px;
}

select {
  display: block;
  width: 100%;
  padding: 7px;
  border-radius: 3px;
}

body {
  background-color: rgb(134, 147, 189);
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px double;
}

.city:last-child {
  border-bottom: none;
}

.date {
  opacity: 0.1px;
}

.time {
  margin-top: 25px;
  font-weight: bold;
  font-size: 30px;
}
.time small {
  font-size: 15px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 12px;
}
